<% if (flag === "true") { %>
  <%- include('partials/user-header-log') %>
<% } else { %>
  <%- include('partials/user-header-unlog') %>
<% } %> 
  <div class="jumbotron text-center">
    <div class="container">
      <h1 class="display-4">Hey Secrets!</h1>
      <hr>
      <div class="row">
        <% usersWithSecrets.forEach(function(user){ %>
          <% user.secret.forEach(function(sct){ %>
            <div class="col-lg-4" id="card-img">
              <div class="card text-center text-white">
                <img src="<%=sct.picture %>" class="card-img">
                <div class="card-img-overlay">
                  <h2 class="card-text align-middle w-100 h-100" id="img-words">
                    <%=sct.singleSecret%>
                  </h2>
                  <!-- add buttons -->
                  <div class="row" id="operate-btns">
                    <div class="col-lg-2">
                      <!-- comment this post -->
                      <form action="/comment" method="POST">
                        <input type="hidden" name="userID" value="<%=user.id%>"></input>
                        <input type="hidden" name="postID" value="<%=sct.id%>"></input>
                        <input type="hidden" name="picture" value="<%=sct.picture%>"></input>
                        <button type="submit" style="text-decoration: none" class="btn btn-link btn-lg far fa-comment-dots">comments</button>
                      </form>
                      <!-- end of comment -->
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <% }); %>
              <% }); %>
      </div>
      <div id="row-buttons">
        <a class="btn btn-primary btn-lg " href="/submit" role="button">Create a Secret</a>
        <a class="btn btn-dark btn-lg " href="/signout" role="button">Log Out</a>
      </div>
    </div>
  </div>

  <%- include('partials/user-footer') %>